<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="firstBean"
          class="my_project.first_bean.TestBean">
        <constructor-arg value="Almas"/>
    </bean>

    <context:property-placeholder location="classpath:musicPlayer.properties"/>
    <bean id="classicalMusic"
          class="my_project.interfaces.ClassicalMusic"
          scope="prototype"
          init-method="initClassical"
          destroy-method="destroyClassical"
          factory-method="getClassicalMusic">
    </bean>
    <bean id="rockMusic"
          class="my_project.interfaces.RockMusic">
    </bean>
    <bean id="popMusic"
          class="my_project.interfaces.PopMusic">
        <constructor-arg value="Pop"/>
    </bean>

    <bean id="musicPlayerBean"
          class="my_project.interfaces.MusicPlayer"
          scope="prototype">
        <property name="musicList">
            <list>
                <ref bean="classicalMusic"/>
                <ref bean="rockMusic"/>
                <ref bean="popMusic"/>
            </list>
        </property>
        <property name="name" value="${musicPlayer.name}"/>
        <property name="volume" value="${musicPlayer.volume}"/>
    </bean>

</beans>